<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/style.css" />
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <title>Masters Leaderboard</title>
</head>
<body>

  <nav class="nav">
      <ul>
        <li><img src="/images/mastersLogo.png"></li>
        <li>Leaderboard</li>
        <li>History</li>
        <li>Players</li>
        <li>Highlights</li>
        <li>Schedule</li>
      </ul>
  </nav>

  <section class="hero">
    <div class="hero-inner">
        <h1>Masters 2018 Leaderboard</h1>
        <div class="leaderboard">

          <div class="table" id="table">
            
            <div class="row">
              <div class="cell" data-title="position" id="position">
                
              </div>
              <div class="cell" data-title="name" id="name">
               
              </div>
              <div class="cell" data-title="currentRoundScore" id="currentRoundScore">
                
              </div>
              <div class="cell" data-title="thru" id="thru">
                
              </div>
              <div class="cell" data-title="totalScore" id="totalScore"> 
                
              </div>
            </div>

          </div> 
             
        </div>
    </div>
  </section>

  



  <section class="player-info">
   <!-- <div id="players">
     <table>
       <th>
         <td>Position</td>
         <td>Player</td>
         <td>Round</td>
         <td>Thru</td>
         <td>Total</td>
       </th>
       <tbody>
         <td>1</td>
         <td>Leishman</td>
         <td>-3</td>
         <td>8</td>
         <td>-7</td>
       </tbody>
     </table>
     
   </div> -->
  </section>















  <script type="text/javascript" src="javascripts/main.js"></script>
</body>
</html>

