<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/style.css" />
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <title>Masters Leaderboard</title>
</head>
<body>

  <nav class="nav">
      <ul>
        <li><a href="/"><img src="/images/mastersLogo.png"></a></li>
        <li><a href="/">Leaderboard</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Masters_Tournament#History" target="_blank">History</a></li>
        <li><a href="http://www.masters.com/en_US/players/player_list.html" target="_blank">Players</a></li>
        <li><a href="https://www.youtube.com/watch?v=tqDM9OiMXjY" target="_blank">Highlights</a></li>
        <li><a href="http://www.masters.com/en_US/course/index.html" target="_blank">Golf Course</a></li>
      </ul>
  </nav>

  <section class="hero">
    <div class="hero-inner">

        <h1><span>Masters</span> 2018 Leaderboard</h1>
        <div class="leaderboard">
          <div class="leaderboardTable" id="leaderboardTable">
            <h3>Loading...</h3>
          </div>     
        </div>

    </div>
  </section>

  <section class="player-info">
    <div class="player-photo">
      <img src="images/patrickReed.png" />
    </div>
    <div class="player-info-text">
      <h2>Patrick Reed<span> <i class="fas fa-trophy"></i> 2018 Masters Champion</span></h2>
      <p class="country"><img src="images/flags/unitedStatesFlag.png" /> <span>USA</span></p>
      <div class="player-info-table">
        <div class="row header">
          <div class="cell">
            Round 1
          </div>
          <div class="cell">
            Round 2
          </div>
          <div class="cell">
            Round 3
          </div>
          <div class="cell">
            Round 4
          </div>
        </div>
        <div class="row">
          <div class="cell data">
            70
          </div>
          <div class="cell data">
            87
          </div>
          <div class="cell data">
            65
          </div>
          <div class="cell data">
            54
          </div>
        </div>
      </div>
      <p class="player-info-total"><span>Total Score: </span>-15</p>
    </div> 
  </section>
  <hr />

  <section class="player-info">
      <div class="player-photo">
        <img src="images/patrickReed.png" />
      </div>
      <div class="player-info-text">
        <h2>Patrick Reed<span> <i class="fas fa-trophy"></i> 2018 Masters Champion</span></h2>
        <p class="country"><img src="images/flags/unitedStatesFlag.png" /> <span>USA</span></p>
        <div class="player-info-table">
          <div class="row header">
            <div class="cell">
              Round 1
            </div>
            <div class="cell">
              Round 2
            </div>
            <div class="cell">
              Round 3
            </div>
            <div class="cell">
              Round 4
            </div>
          </div>
          <div class="row">
            <div class="cell data">
              70
            </div>
            <div class="cell data">
              87
            </div>
            <div class="cell data">
              65
            </div>
            <div class="cell data">
              54
            </div>
          </div>
        </div>
        <p class="player-info-total"><span>Total Score: </span>-15</p>
      </div> 
    </section>
    <hr />

  <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
  <script type="text/javascript" src="javascripts/main.js"></script>
</body>
</html>

